<!-- and guess where these are defined? Yup, you guessed it: the _config.yml file -->
{% if page.resume.social_links %}
<ul class="icon-links">

  <!-- GitHub link -->
  {% if page.resume.social_links.github_url %}
  <li class="icon-link-item"><a href="{{ page.resume.social_links.github_url }}" class="icon-link">{% include icons/icon-github.html %}</a></li>
  {% endif %}

  <!-- Twitter link -->
  {% if page.resume.social_links.twitter_url %}
  <li class="icon-link-item"><a href="{{ page.resume.social_links.twitter_url }}" class="icon-link">{% include icons/icon-twitter.html %}</a></li>
  {% endif %}

  <!-- Xing link -->
  {% if page.resume.social_links.xing_url %}
  <li class="icon-link-item"><a href="{{ page.resume.social_links.xing_url }}" class="icon-link">{% include icons/icon-xing.html %}</a></li>
  {% endif %}

  <!-- Website link -->
  {% if page.resume.social_links.website_url %}
  <li class="icon-link-item"><a href="{{ page.resume.social_links.website_url }}" class="icon-link">{% include icons/icon-website.html %}</a></li>
  {% endif %}

</ul>
{% endif %}
